<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-md navbar-main navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <button class="navbar-toggler ml-1 btn btn-sm" type="button" aria-expanded="false" aria-label="Toggle navigation"
    (click)="toggleNav()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand me-0 pt-1 pb-1 text-left" routerLink="./">
    <img src="./assets/logo.png" height="38" />
  </a>
  <ul class="navbar-nav px-3 me-auto d-none d-md-block">
    <li class="nav-item text-nowrap">
      <span class="navbar-text text-white fs-3">
        Dashboard
      </span>
    </li>
  </ul>
  <span class="navbar-text d-flex navbar-nav px-3 ms-auto d-none d-md-block">
    <span>
      <i class="fas fa-user fa-fw"></i>
    </span>
    NEXT-PLC\USER
  </span>
</nav>